# Import, clean and merge the datasets

In [18]:
import pandas as pd

In [19]:
# Load the data
data1 = pd.read_csv("Premier_League_2015_2016.csv")
data2 = pd.read_csv("Premier_League_2016_2017.csv")
data3 = pd.read_csv("Premier_League_2017_2018.csv")
data4 = pd.read_csv("Premier_League_2018_2019.csv")
data5 = pd.read_csv("Premier_League_2019_2020.csv")
data6 = pd.read_csv("Premier_League_2020_2021.csv")
data7 = pd.read_csv("Premier_League_2021_2022.csv")
data8 = pd.read_csv("Premier_League_2022_2023.csv")
data9 = pd.read_csv("Premier_League_2023_2024.csv")
data10 = pd.read_csv("Premier_League_2024.csv")

In [20]:
# Concatenate all dataframes
all_data = pd.concat([data1, data2, data3, data4, data5, data6, data7, data8, data9, data10], ignore_index=True)

In [21]:
all_data

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,M Clattenburg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,M Oliver,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-08-08,Everton,Watford,2,2,D,0,1,A,M Jones,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,L Mason,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,J Moss,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,2024/8/17,Nott'm Forest,Bournemouth,1,1,D,1,0,H,M Oliver,...,2.26,3.49,3.33,2.30,3.50,3.50,1.91,2.08,1.96,2.02
3426,2024/8/17,West Ham,Aston Villa,1,2,A,1,1,D,T Harrington,...,2.56,3.60,2.77,2.54,3.65,2.98,1.74,2.32,1.84,2.18
3427,2024/8/18,Brentford,Crystal Palace,2,1,H,1,0,H,S Barrott,...,2.98,3.30,2.56,2.94,3.35,2.74,2.10,1.89,2.07,1.92
3428,2024/8/18,Chelsea,Man City,0,2,A,0,1,A,A Taylor,...,3.89,3.96,1.92,3.75,3.90,2.06,1.62,2.60,1.93,2.07
3429,2024/8/19,Leicester,Tottenham,1,1,D,0,1,A,C Kavanagh,...,4.79,4.27,1.70,4.70,4.40,1.76,1.58,2.70,2.03,1.96

In [22]:
# Check for columns with null values
null_columns = all_data.columns[all_data.isnull().any()]
print("Columns with null values:", null_columns)

Columns with null values: Index(['BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'VCH',
       ...
       '1XBCH', '1XBCD', '1XBCA', 'BFECH', 'BFECD', 'BFECA', 'BFEC>2.5',
       'BFEC<2.5', 'BFECAHH', 'BFECAHA'],
      dtype='object', length=119)

In [23]:
# Drop columns with any null values
all_data_cleaned = all_data.dropna(axis=1, how='any')

In [24]:
all_data_cleaned

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,B365A,PSH,PSD,PSA,WHH,WHD,WHA,PSCH,PSCD,PSCA
0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,M Clattenburg,...,4.00,1.95,3.65,4.27,1.91,3.50,4.00,1.82,3.88,4.70
1,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,M Oliver,...,11.00,1.39,4.92,10.39,1.40,4.00,10.00,1.37,5.04,10.88
2,2015-08-08,Everton,Watford,2,2,D,0,1,A,M Jones,...,5.50,1.70,3.95,5.62,1.73,3.50,5.00,1.75,3.76,5.44
3,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,L Mason,...,4.33,1.99,3.48,4.34,2.00,3.10,2.70,1.79,3.74,5.10
4,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,J Moss,...,6.00,1.65,4.09,5.90,1.62,3.60,6.00,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,2024/8/17,Nott'm Forest,Bournemouth,1,1,D,1,0,H,M Oliver,...,2.80,2.47,3.42,2.97,2.50,3.50,2.80,2.24,3.50,3.37
3426,2024/8/17,West Ham,Aston Villa,1,2,A,1,1,D,T Harrington,...,2.75,2.49,3.65,2.80,2.40,3.75,2.75,2.54,3.51,2.86
3427,2024/8/18,Brentford,Crystal Palace,2,1,H,1,0,H,S Barrott,...,2.90,2.50,3.40,2.95,2.45,3.50,2.88,2.92,3.24,2.66
3428,2024/8/18,Chelsea,Man City,0,2,A,0,1,A,A Taylor,...,1.80,4.19,3.93,1.84,4.00,4.00,1.83,3.86,3.91,1.97
3429,2024/8/19,Leicester,Tottenham,1,1,D,0,1,A,C Kavanagh,...,1.62,5.09,4.39,1.63,5.00,4.33,1.65,4.64,4.33,1.71

In [25]:
# Check the data type of the "Date" column
print(all_data_cleaned['Date'].dtype)

object

In [26]:
all_data_cleaned

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,B365A,PSH,PSD,PSA,WHH,WHD,WHA,PSCH,PSCD,PSCA
0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,M Clattenburg,...,4.00,1.95,3.65,4.27,1.91,3.50,4.00,1.82,3.88,4.70
1,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,M Oliver,...,11.00,1.39,4.92,10.39,1.40,4.00,10.00,1.37,5.04,10.88
2,2015-08-08,Everton,Watford,2,2,D,0,1,A,M Jones,...,5.50,1.70,3.95,5.62,1.73,3.50,5.00,1.75,3.76,5.44
3,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,L Mason,...,4.33,1.99,3.48,4.34,2.00,3.10,2.70,1.79,3.74,5.10
4,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,J Moss,...,6.00,1.65,4.09,5.90,1.62,3.60,6.00,1.64,4.07,6.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,2024/8/17,Nott'm Forest,Bournemouth,1,1,D,1,0,H,M Oliver,...,2.80,2.47,3.42,2.97,2.50,3.50,2.80,2.24,3.50,3.37
3426,2024/8/17,West Ham,Aston Villa,1,2,A,1,1,D,T Harrington,...,2.75,2.49,3.65,2.80,2.40,3.75,2.75,2.54,3.51,2.86
3427,2024/8/18,Brentford,Crystal Palace,2,1,H,1,0,H,S Barrott,...,2.90,2.50,3.40,2.95,2.45,3.50,2.88,2.92,3.24,2.66
3428,2024/8/18,Chelsea,Man City,0,2,A,0,1,A,A Taylor,...,1.80,4.19,3.93,1.84,4.00,4.00,1.83,3.86,3.91,1.97
3429,2024/8/19,Leicester,Tottenham,1,1,D,0,1,A,C Kavanagh,...,1.62,5.09,4.39,1.63,5.00,4.33,1.65,4.64,4.33,1.71

In [27]:
# Convert the 'Date' column from string to datetime format and save it to a new column 'Date_Formatted'
all_data_cleaned['Date'] = pd.to_datetime(all_data_cleaned['Date'], format='mixed')

# Check the result
print(all_data_cleaned[['Date']].head())

        Date
0 2015-08-08
1 2015-08-08
2 2015-08-08
3 2015-08-08
4 2015-08-08

C:\Users\GG\AppData\Local\Temp\ipykernel_11932\3726626516.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data_cleaned['Date'] = pd.to_datetime(all_data_cleaned['Date'], format='mixed')

In [28]:
# Extract the year from the 'Date' column and create a new 'Season' column
all_data_cleaned['Season'] = all_data_cleaned['Date'].dt.year

C:\Users\GG\AppData\Local\Temp\ipykernel_11932\3496278062.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data_cleaned['Season'] = all_data_cleaned['Date'].dt.year

In [29]:
all_data_cleaned

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,...,PSH,PSD,PSA,WHH,WHD,WHA,PSCH,PSCD,PSCA,Season
0,2015-08-08,Bournemouth,Aston Villa,0,1,A,0,0,D,M Clattenburg,...,1.95,3.65,4.27,1.91,3.50,4.00,1.82,3.88,4.70,2015
1,2015-08-08,Chelsea,Swansea,2,2,D,2,1,H,M Oliver,...,1.39,4.92,10.39,1.40,4.00,10.00,1.37,5.04,10.88,2015
2,2015-08-08,Everton,Watford,2,2,D,0,1,A,M Jones,...,1.70,3.95,5.62,1.73,3.50,5.00,1.75,3.76,5.44,2015
3,2015-08-08,Leicester,Sunderland,4,2,H,3,0,H,L Mason,...,1.99,3.48,4.34,2.00,3.10,2.70,1.79,3.74,5.10,2015
4,2015-08-08,Man United,Tottenham,1,0,H,1,0,H,J Moss,...,1.65,4.09,5.90,1.62,3.60,6.00,1.64,4.07,6.04,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,2024-08-17,Nott'm Forest,Bournemouth,1,1,D,1,0,H,M Oliver,...,2.47,3.42,2.97,2.50,3.50,2.80,2.24,3.50,3.37,2024
3426,2024-08-17,West Ham,Aston Villa,1,2,A,1,1,D,T Harrington,...,2.49,3.65,2.80,2.40,3.75,2.75,2.54,3.51,2.86,2024
3427,2024-08-18,Brentford,Crystal Palace,2,1,H,1,0,H,S Barrott,...,2.50,3.40,2.95,2.45,3.50,2.88,2.92,3.24,2.66,2024
3428,2024-08-18,Chelsea,Man City,0,2,A,0,1,A,A Taylor,...,4.19,3.93,1.84,4.00,4.00,1.83,3.86,3.91,1.97,2024
3429,2024-08-19,Leicester,Tottenham,1,1,D,0,1,A,C Kavanagh,...,5.09,4.39,1.63,5.00,4.33,1.65,4.64,4.33,1.71,2024

In [30]:
# Extract the year from the 'Date' column and create a new 'Season' column
all_data_cleaned['Season'] = all_data_cleaned['Date'].dt.year

# Drop the original 'Date' column longer needed
all_data_cleaned = all_data_cleaned.drop(columns=['Date'])

C:\Users\GG\AppData\Local\Temp\ipykernel_11932\1641431884.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_data_cleaned['Season'] = all_data_cleaned['Date'].dt.year

In [31]:
all_data_cleaned

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,...,PSH,PSD,PSA,WHH,WHD,WHA,PSCH,PSCD,PSCA,Season
0,Bournemouth,Aston Villa,0,1,A,0,0,D,M Clattenburg,11,...,1.95,3.65,4.27,1.91,3.50,4.00,1.82,3.88,4.70,2015
1,Chelsea,Swansea,2,2,D,2,1,H,M Oliver,11,...,1.39,4.92,10.39,1.40,4.00,10.00,1.37,5.04,10.88,2015
2,Everton,Watford,2,2,D,0,1,A,M Jones,10,...,1.70,3.95,5.62,1.73,3.50,5.00,1.75,3.76,5.44,2015
3,Leicester,Sunderland,4,2,H,3,0,H,L Mason,19,...,1.99,3.48,4.34,2.00,3.10,2.70,1.79,3.74,5.10,2015
4,Man United,Tottenham,1,0,H,1,0,H,J Moss,9,...,1.65,4.09,5.90,1.62,3.60,6.00,1.64,4.07,6.04,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3425,Nott'm Forest,Bournemouth,1,1,D,1,0,H,M Oliver,14,...,2.47,3.42,2.97,2.50,3.50,2.80,2.24,3.50,3.37,2024
3426,West Ham,Aston Villa,1,2,A,1,1,D,T Harrington,14,...,2.49,3.65,2.80,2.40,3.75,2.75,2.54,3.51,2.86,2024
3427,Brentford,Crystal Palace,2,1,H,1,0,H,S Barrott,9,...,2.50,3.40,2.95,2.45,3.50,2.88,2.92,3.24,2.66,2024
3428,Chelsea,Man City,0,2,A,0,1,A,A Taylor,10,...,4.19,3.93,1.84,4.00,4.00,1.83,3.86,3.91,1.97,2024
3429,Leicester,Tottenham,1,1,D,0,1,A,C Kavanagh,7,...,5.09,4.39,1.63,5.00,4.33,1.65,4.64,4.33,1.71,2024

In [32]:

# Save the updated DataFrame to a new CSV file
all_data_cleaned.to_csv('Premier_League_Season.csv', index=False)

In [33]:
# Check the data type of the 'Date' column
print(all_data_cleaned['Season'].dtype)

int32

In [34]:
all_data_cleaned.tail()

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,...,PSH,PSD,PSA,WHH,WHD,WHA,PSCH,PSCD,PSCA,Season
3425,Nott'm Forest,Bournemouth,1,1,D,1,0,H,M Oliver,14,...,2.47,3.42,2.97,2.50,3.50,2.80,2.24,3.50,3.37,2024
3426,West Ham,Aston Villa,1,2,A,1,1,D,T Harrington,14,...,2.49,3.65,2.80,2.40,3.75,2.75,2.54,3.51,2.86,2024
3427,Brentford,Crystal Palace,2,1,H,1,0,H,S Barrott,9,...,2.50,3.40,2.95,2.45,3.50,2.88,2.92,3.24,2.66,2024
3428,Chelsea,Man City,0,2,A,0,1,A,A Taylor,10,...,4.19,3.93,1.84,4.00,4.00,1.83,3.86,3.91,1.97,2024
3429,Leicester,Tottenham,1,1,D,0,1,A,C Kavanagh,7,...,5.09,4.39,1.63,5.00,4.33,1.65,4.64,4.33,1.71,2024